.bottom-cards-component {
    border: 1px solid #CCDDC7;
    border-radius: 3px;
    height: 328px;
    width: calc(100vw - 64px);
    max-width: 1440px;
    display: flex;
}

.bottom-cards-component .card {
    width: 50%;
    padding: 22px 31px;
    overflow: hidden;
}

.bottom-cards-component .card:first-child {
    border-right: 1px solid #CCDDC7;
}

.bottom-cards-component .card:first-child p {
    letter-spacing: -.7px;
    width: calc(628px - 10vw);
    max-width: 100%;
}

@media (max-width: 1024px) {
    .bottom-cards-component {
        height: 600px;
    }

    .bottom-cards-component .card:last-child {
        width: 73%;
    }
}

@media (max-width: 945px) {
    .bottom-cards-component {
        flex-direction: column-reverse;
    }

    .bottom-cards-component .card {
        width: 100%;
    }
}