.bottom-cards-component {
    border: 1px solid #CCDDC7;
    border-radius: 3px;
    height: 328px;
    width: calc(100vw - 64px);
    display: flex;
}

.bottom-cards-component .card {
    width: 50%;
    padding: 24px 31px;
}

.bottom-cards-component .card:first-child {
    border-right: 1px solid #CCDDC7;
}

.bottom-cards-component .card:first-child p {
    letter-spacing: -.7px;
    width: 78%;
}