.bottom-cards-component {
    border: 1px solid var(--green100);
    border-radius: 3px;
    width: 95.5vw;
    max-width: 1440px;
    height: 22.7vw;
    display: flex;
    margin: 0 auto;
}

.bottom-cards-component .card {
    width: 44vw;
    padding: 1.5vw 2.2vw;
    overflow: hidden;
}

.bottom-cards-component .card:first-child {
    border-right: 1px solid var(--green100);
}

.bottom-cards-component .card:first-child p {
    letter-spacing: -0.02vw;
    width: 34vw;
    font-size: 1.6vw;
    line-height: 2.37vw;
}

@media (min-width: 1440px) {
    .bottom-cards-component .card:first-child p {
        letter-spacing: -.7px;
        width: 79%;
    }
}

@media (max-width: 1024px) {
    .bottom-cards-component {
        height: 58.5vw;
        width: 94vw;
    }

    .bottom-cards-component .card:first-child {
        padding: 2vw 3.1vw;
        width: 33vw;
    }

    .bottom-cards-component .card:first-child p {
        letter-spacing: -0.14vw;
        font-size: 2.5vw;
        width: 100%;
        line-height: 3.33vw;
    }

    .bottom-cards-component .card:last-child {
        width: 48vw;
    }
}

@media (max-width: 501px) {
    .bottom-cards-component {
        flex-direction: column-reverse;
        justify-content: start;
        width: 87vw;
        height: 105.5vw;
    }

    .bottom-cards-component .card:first-child {
        border-top: 1px solid var(--green100);
        border-right: unset;
        width: unset;
        height: 44%;
        padding: 4vw 5vw;
    }

    .bottom-cards-component .card:first-child p {
        letter-spacing: -0.23vw;
        font-size: 4vw;
        width: 76vw;
        line-height: 5.3vw;
    }

    .bottom-cards-component .card:last-child {
        width: unset;
        padding: 0;
        height: 50.5vw;
    }
}