.circle-arrow-button {
    position: relative;
}

.circle-arrow-button>div {
    position: absolute;
    top: 18.5px;
    left: 17.5px;
    overflow: hidden;
    width: 15px;
    background: var(--off-white);
}

.circle-arrow-button .forward-arrow {
    width: 25px;
    display: flex;
    justify-content: center;
}

@media (max-width: 1024px) {
    .outer-circle {
        width: 5vw;
        height: 5vw;
    }

    .circle-arrow-button>div {
        width: 2vw;
        height: 2vw;
        top: 1.52vw;
        left: 1.52vw;
    }

    .circle-arrow-button .forward-arrow {
        justify-content: center;
        width: 4vw;
        min-width: 4vw;
    }

    .circle-arrow-button .forward-arrow>img {
        width: 1.5vw;
        height: 1.5vw;
    }
}

@media (max-width: 501px) {
    .outer-circle {
        width: 13.5vw;
        height: 13.5vw;
    }

    .circle-arrow-button>div {
        width: 5vw;
        height: 5vw;
        top: 4.2vw;
        left: 4.2vw;
    }

    .circle-arrow-button .forward-arrow {
        justify-content: center;
        width: 8vw;
        min-width: 8vw;
    }

    .circle-arrow-button .forward-arrow>img {
        width: 8vw;
        height: 4vw;
    }
}