.circle-arrow-button {
    position: relative;
}

.circle-arrow-button>div {
    position: absolute;
    top: 18.5px;
    left: 17.5px;
    overflow: hidden;
    width: 15px;
    background: var(--off-white);
}

.circle-arrow-button .forward-arrow {
    width: 25px;
    min-width: 25px;
    display: flex;
    justify-content: center;
}