.circle-component {
    transform: rotate(-35deg);
    margin: 2px 0;
    border: solid 1px #ccddc7;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    mask: linear-gradient(transparent 0 0) padding-box, conic-gradient(transparent var(--p, 90%), transparent 0%) border-box;
}

.button-component .circle {
    border: 1px solid #ccddc7;
}