.outer-circle {
    width: 3.5vw;
    height: 3.5vw;
}

.circle-arrow-button {
    position: relative;
}

.circle-arrow-button>div {
    position: absolute;
    width: 2vw;
    height: 2vw;
    top: .8vw;
    left: .8vw;
    overflow: hidden;
    background: var(--off-white);
}

.circle-arrow-button .forward-arrow {
    min-width: 4vw;
    display: flex;
    justify-content: center;
}

.circle-arrow-button .forward-arrow>img {
    width: 1vw;
    height: 1vw;
}

@media (min-width: 1440px) {
    .outer-circle {
        width: 50px;
        height: 50px;
    }

    .circle-arrow-button>div {
        width: 15px;
        height: 15px;
        top: 18px;
        left: 18px;
    }

    .circle-arrow-button .forward-arrow {
        min-width: 20px;
    }

    .circle-arrow-button .forward-arrow>img {
        width: 14px;
        height: 14px;
    }
}

@media (max-width: 1024px) {
    .outer-circle {
        width: 5vw;
        height: 5vw;
    }

    .circle-arrow-button>div {
        width: 2vw;
        height: 2vw;
        top: 1.52vw;
        left: 1.52vw;
    }

    .circle-arrow-button .forward-arrow {
        min-width: 4vw;
    }

    .circle-arrow-button .forward-arrow>img {
        width: 1.5vw;
        height: 1.5vw;
    }
}

@media (max-width: 501px) {
    .outer-circle {
        width: 13.5vw;
        height: 13.5vw;
    }

    .circle-arrow-button>div {
        width: 5vw;
        height: 5vw;
        top: 4.2vw;
        left: 4.2vw;
    }

    .circle-arrow-button .forward-arrow {
        min-width: 8vw;
    }

    .circle-arrow-button .forward-arrow>img {
        width: 8vw;
        height: 4vw;
    }
}