.header-component {
    height: 26.8vw;
    max-height: 387px;
    padding: 3.77vw 0 0;
}

.h1-container {
    gap: 0 1.4vw;
    margin: 0 2.2vw;
    transition: 0.6s;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.h1-container h1:nth-child(7) {
    margin-right: 3px;
}

@media (min-width: 1440px) {
    .header-component {
        height: 387px;
        padding: 53px 0 0;
    }

    .h1-container {
        margin: 0 26px;
        gap: 0 35px
    }
}

@media (max-width: 1024px) {
    .header-component {
        height: 65.2vw;
        max-height: unset;
        padding: 6.6vw 0px 0;
    }

    .h1-container {
        gap: 0 1.5vw;
        justify-content: space-evenly;
    }

    .h1-container .health-insurance:last-child,
    .h1-container .green-phase-1 {
        margin-right: 0;
    }
}

@media (max-width: 501px) {
    .header-component {
        height: 96vw;
        padding-top: 8.3vw;
    }

    .h1-container {
        margin: 0 5vw;
    }
}