.header-component {
    margin: 111px 0 92px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.header-component h1 {
    margin-right: 19px;
}

.header-component h1:last-child {
    margin-right: 0;
}

.header-component .marquee-component {
    width: 46vw;
    height: 77px;
    margin: 0 39px 0 25px;
    overflow: hidden;
}

.header-component .marquee-component p {
    text-transform: uppercase;
}