.header-component {
    margin: 7.7vw 0 6.4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
}

.header-component h1 {
    margin-right: 19px;
}

.header-component h1:last-child {
    margin-right: 0;
}