.header-component {
    margin: 7.7vw 0 6.4vw;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}

.header-component h1 {
    margin-right: 19px;
}

.header-component h1:last-child {
    margin-right: 0;
}

.header-component .marquee-component {
    margin: 0 39px -2px 25px;
    width: 46vw;
    height: 77px;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-component .marquee-component p {
    text-transform: uppercase;
    white-space: nowrap;
}

.header-component .marquee-component img {
    margin: 0 15px;
}