.header-component {
    height: 27.2vw;
    padding: 18px 0 0;
}

.h1-container {
    gap: 0 21px;
    transition: 0.6s;
}

.h1-container h1:nth-child(7) {
    margin-right: 3px;
}

.line-break,
.line-break-2,
.line-break-3 {
    display: none;
}

@media (max-width: 1024px) {
    .header-component {
        height: 65.1vw;
        padding: 35px 0 0px;
    }

    .h1-container .health-insurance:last-child,
    .h1-container .green-phase-1 {
        margin-right: 0;
    }

    .h1-container .line-break {
        display: inherit;
        width: 100%;
    }
}

@media (max-width: 945px) {
    .h1-container {
        margin: 50px 0;
    }

    .h1-container .line-break {
        display: none;
    }

    .h1-container .line-break-2 {
        display: inherit;
        width: 100%;
    }
}

@media (max-width: 376px) {
    .h1-container {
        margin: 69.5px 0;
        gap: 0 9px;
    }

    .h1-container .line-break-3 {
        display: inherit;
        width: 100%;
    }
}