.header-component {
    margin: 7.7vw 0 calc(6.4vw - 32px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}

.header-component h1 {
    margin-right: 19px;
}

.header-component h1:last-child {
    margin-right: 0;
}