.header-component {
    margin: 7.7vw 0 6.4vw;
    gap: 0 21px;
    transition: 0.6s;
}

.header-component h1:nth-child(7) {
    margin-right: 3px;
}

.line-break, .line-break-2, .line-break-3 {
    display: none;
}

@media (max-width: 1024px) {
    .header-component {
        margin: 21.06vw 0 17.6vw;
    }

    .header-component .health-insurance:last-child,
    .header-component .green-phase-1 {
        margin-right: 0;
    }

    .header-component .line-break {
        display: inherit;
        width: 100%;
    }
}

@media (max-width: 945px) {
    .header-component {
        margin: 50px 0;
    }

    .header-component .line-break {
        display: none;
    }

    .header-component .line-break-2 {
        display: inherit;
        width: 100%;
    }
}

@media (max-width: 376px) {
    .header-component {
        margin: 69.5px 0;
        gap: 0 9px;
    }

    .header-component .line-break-3 {
        display: inherit;
        width: 100%;
    }
}