:root {
  --off-white: #FBFAF6;
  --green500: #153E2A;
  --green400: #30715D;
  --green200:  #00B684;
  --green100: #CCDDC7;

  --orange: #D87906;

  background: var(--off-white);
}

.body-container {
  margin: 0 auto;
  max-width: 1440px;
}

h1,
p {
  font-weight: 100;
}


h1 {
  letter-spacing: -3px;
  line-height: 91%;
  font-size: 112px;
  transition: .6s;
}

p.title {
  font-size: 12px
}

p.l {
  font-size: 24px
}

p {
  line-height: 140%;
  font-size: 20px
}

.green500 {
  color: var(--green500)
}

.green400 {
  color: var(--green400)
}

.green200 {
  color: var(--green200)
}

.green100-border {
  border: 1px solid var(--green100);
  border-radius: 10px;
}

.orange {
  color: var(--orange)
}

button {
  background: unset;
  border: unset;
  font-family: 'sohne';
  font-weight: 100;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column-separate {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 501px) {
  h1 {
    font-size: 49px;
    letter-spacing: -2px;
    margin-bottom: 14px;
  }
}