/* TODO is this actually optimized? */
@font-face {
  font-family: 'sohne';
  src: url('../../../public/fonts/Söhne-Buch.otf') format("opentype");
}

:root {
  background: #FBFAF6;
}

.body-container {
  margin: 0 auto;
  max-width: 1440px;
}

/* TODO remove */
.object-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .2;
}

h1,
h5,
p {
  font-family: 'sohne';
  font-weight: 100;
}

h1,
/* TODO remove all references to h5 */
h5 {
  letter-spacing: -3px;
  line-height: 91%;
}

h1 {
  font-size: 112px;
  transition: .6s;
}

p.title {
  font-size: 12px
}

p.l {
  font-size: 24px
}

p {
  line-height: 140%;
  font-size: 20px
}

p.s {
  font-size: 16px
}

.black {
  color: #081E13
}

.black100 {
  color: #112C2E
}

.off-white {
  color: #FBFAF6
}

.white {
  color: #FFF
}

.green500 {
  color: #152E2A
}

.green400 {
  color: #30715D
}

.green300 {
  color: #6E9E8F
}

.green200 {
  color: #00B684
}

.green100 {
  color: #CCDDC7
}

.green100-border {
  border: 1px solid #CCDDC7;
  border-radius: 10px;
}

.orange {
  color: #D87906
}

button {
  background: unset;
  border: unset;
  font-family: 'sohne';
  font-weight: 100;
}

/* TODO make sure that the only flex stylings are in here */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column-separate {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 769px) {
  h1 {
    font-size: 80px;
  }
}

@media (max-width: 501px) {
  :root {
    padding: 18.5px
  }

  h1 {
    font-size: 49px;
    letter-spacing: -2px;
    margin-bottom: 13px;
  }
}