:root {
  --off-white: #FBFAF6;
  --green500: #153E2A;
  --green400: #30715D;
  --green200: #00B684;
  --green100: #CCDDC7;

  --orange: #D87906;

  background: var(--off-white);
}

.body-container {
  margin: 0 auto;
  max-width: 1440px;
  /* TODO Remove */
  position: relative;
}

  /* TODO Remove */
.background-template {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -99;
  opacity: .8;
  width: 100%;
  max-width: 1440px;
  height: unset;
}

h1,
p {
  font-weight: 100;
}

h1 {
  letter-spacing: -0.25vw;
  word-spacing: 0.05vw;
  line-height: 6.8vw;
  font-size: 7.8vw;
  text-align: center;
  transition: .6s;
}

p.title {
  font-size: 12px
}

p.l {
  font-size: 24px
}

p {
  line-height: 140%;
  font-size: 20px
}

.green500 {
  color: var(--green500)
}

.green400 {
  color: var(--green400)
}

.green200 {
  color: var(--green200)
}

.green100-border {
  border: 1px solid var(--green100);
  border-radius: 10px;
}

.orange {
  color: var(--orange)
}

button {
  background: unset;
  border: unset;
  font-family: 'sohne';
  font-weight: 100;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column-separate {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 1440px) {
  h1 {
    letter-spacing: -3px;
    line-height: 91%;
    font-size: 112px;
    word-spacing: 0px;
  }
}

@media (max-width: 1024px) {
  h1 {
    font-size: 10.8vw;
    line-height: 10.3vw;
  }
}

@media (max-width: 501px) {
  h1 {
    letter-spacing: -.5vw;
    margin-bottom: 2.5vw;
    font-size: 13vw;
    line-height: 15.5vw;
  }
}