:root {
  background: #FBFAF6;
}

.body-container {
  margin: 0 auto;
  max-width: 1440px;
}

h1,
p {
  font-weight: 100;
}

h1 {
  letter-spacing: -3px;
  line-height: 91%;
}

h1 {
  font-size: 112px;
  transition: .6s;
}

p.title {
  font-size: 12px
}

p.l {
  font-size: 24px
}

p {
  line-height: 140%;
  font-size: 20px
}

.off-white {
  color: #FBFAF6
}

.green400 {
  color: #30715D
}

.green200 {
  color: #00B684
}

.green100-border {
  border: 1px solid #CCDDC7;
  border-radius: 10px;
}

.orange {
  color: #D87906
}

button {
  background: unset;
  border: unset;
  font-family: 'sohne';
  font-weight: 100;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column-separate {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 501px) {
  h1 {
    font-size: 49px;
    letter-spacing: -2px;
    margin-bottom: 14px;
  }
}