.marquee-component {
    width: 46vw;
    max-width: 662.4px;
    height: 77px;
    margin: 26px 19px 0 19px;
    overflow: hidden;
}

.marquee-component .marquee-stripe {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.marquee-component p {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    white-space: nowrap;
}

.marquee-component .icon {
    min-width: 77px;
}

@media (max-width: 1024px) {
    .marquee-component {
        width: 30vw;
        margin: 28px -11px 0;
    }
}