.marquee-component {
    width: 45.8vw;
    max-width: 662.4px;
    height: 5.5vw;
    max-height: 77px;
    margin: 2vw 1vw 0 2.1vw;
    overflow: hidden;
}

.marquee-component .marquee-stripe {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.marquee-component p {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    white-space: nowrap;
}

.marquee-component .icon {
    min-width: 77px;
}

@media (min-width: 1440px) {
    .marquee-component {
        height: 77px;
        margin: 25px 4px 0 12px;
    }
}

@media (max-width: 1024px) {
    .marquee-component {
        width: 30vw;
        margin: 1.8vw -1.2vw -.6vw -1.1vw;
        height: 8vw;
    }
}

@media (max-width: 501px) {
    .marquee-component {
        width: 87vw;
        height: 16.5vw;
        margin: 0 auto 2vw
    }
}