.marquee-component {
    width: 49vw;
    max-width: 662.4px;
    height: 77px;
    margin: 26px -9px 0 18px;
    overflow: hidden;
}

.marquee-component .marquee-stripe {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.marquee-component p {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    white-space: nowrap;
}

.marquee-component .icon {
    min-width: 77px;
}

@media (max-width: 1024px) {
    .marquee-component {
        width: 30vw;
        margin: 28px -31px -6px -11px;
    }
}

@media (max-width: 501px) {
    .marquee-component {
        margin: 15px -31px -6px -11px;
        width: calc(100vw - 48px);
        height: 61px;
    }

    /* .marquee-component {
        margin: -11px 5px 13px;
    } */

    .line-break-3 {
        display: inherit;
        width: 100%;
    }
}