.marquee-component {
    width: 49vw;
    max-width: 662.4px;
    height: 77px;
    margin: 26px -9px 0 18px;
    overflow: hidden;
}

.marquee-component .marquee-stripe {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.marquee-component p {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    white-space: nowrap;
}

.marquee-component .icon {
    min-width: 77px;
}

@media (max-width: 1024px) {
    .marquee-component {
        width: 30vw;
        margin: 28px -11px -6px;
    }
}

@media (max-width: 376px) {
    .marquee-component {
        margin: -10px 5px 13px;
        width: 100vw;
        height: 61px;
    }

    .line-break-3 {
        display: inherit;
        width: 100%;
    }
}