.marquee-component {
    margin: 0 39px -2px 25px;
    width: 45.9vw;
    height: 77px;
    overflow: hidden;
}

.marquee-component .marquee-moving-stripe {
    height: 100%;
}

.marquee-component .marquee-item-container {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.marquee-component p {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    white-space: nowrap;
}

.marquee-component img {
    margin: 0 30px;
}