.button-component {
    padding: 6px 1px;
    display: flex;
    justify-content: space-between;
    width: 283px;
}

.button-component button {
    border: 1px solid #30715D;
    border-radius: 40px;
    padding: 0px 23px;
    height: 52px;
    letter-spacing: -0.5px;
}