.button-component {
    margin: 0px 0px 8px;
    display: flex;
    justify-content: space-between;
    width: 283px;
    border-radius: 40px;
    transition: .6s;
}

.button-component button {
    z-index: 1;
    border: 1px solid var(--green400);
    border-radius: 40px;
    padding: 0px 24px;
    background: var(--off-white);
    height: 52px;
    letter-spacing: -0.5px;
}

@media (max-width: 501px) {
    .button-component {
        margin: 0;
        width: 77vw;
    }

    .button-component button {
        width: 62vw;
        height: 13.5vw;
        margin-bottom: .5vw;
        font-size: 4vw;
        letter-spacing: 0.01vw;
    }
}