.button-component {
    margin: 0;
    width: 19.7vw;
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    transition: .6s;
}

.button-component button {
    z-index: 1;
    border: 1px solid var(--green400);
    border-radius: 40px;
    padding: 0 0vw;
    background: var(--off-white);
    letter-spacing: -.08vw;
    width: 15.8vw;
    height: 3.6vw;
    margin-bottom: .6vw;
    font-size: 1.2vw;
}

@media (min-width: 1440px) {
    .button-component {
        width: 283px;
    }

    .button-component button {
        letter-spacing: -.5px;
        width: 228px;
        height: 50px;
        margin-bottom: 10px;
        padding: 0 0;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .button-component {
        margin: 0;
        width: 27.9vw;
    }

    .button-component button {
        padding: 0 0vw;
        letter-spacing: -0.07vw;
        width: 22.4vw;
        height: 4.9vw;
        margin-bottom: 1.3vw;
        font-size: 1.6vw;
    }
}

@media (max-width: 501px) {
    .button-component {
        margin: 0;
        width: 77vw;
    }

    .button-component button {
        width: 62vw;
        height: 13.5vw;
        margin-bottom: .5vw;
        font-size: 4vw;
        letter-spacing: 0.01vw;
    }
}