.button-component {
    margin: 0px 0px 8px;
    display: flex;
    justify-content: space-between;
    width: 283px;
    border-radius: 40px;
    transition: .6s;
}

.button-component button {
    z-index: 1;
    border: 1px solid #30715D;
    border-radius: 40px;
    padding: 0px 24px;
    background: #FBFAF6;
    height: 52px;
    letter-spacing: -0.5px;
}

@media (max-width: 376px) {
    .button-component {
        margin: 0;
        width: 288px;
    }

    .button-component button {
        padding: 0 27px;
    }
}