.loading-screen-component {
    position: absolute;
    background: var(--off-white);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}