.loading-screen-component {
    position: absolute;
    background: #FBFAF6;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}