.card-slide-component .card-slide-stripe {
    transform: translateX(31.25%);
}

.card-slide-component .card-item {
    height: 252px;
    width: 487px;
}

.card-slide-component .card-item>img {
    width: 393px;
    height: 196px;
}

@media (max-width: 1024px) {
    .card-slide-component .card-slide-stripe {
        flex-direction: column;
        transform: translate(-.09%, 31.3%);
    }
}