.card-slide-component .card-slide-stripe {
    transform: translateX(31.55%);
}

.card-slide-component .card-item {
    height: 196px;
    width: 487px;
}

.card-slide-component .card-item>img {
    width: unset;
    height: 100%;
}