.card-slide-component .card-slide-stripe {
    transform: translateX(31.25%);
}

.card-slide-component .card-item {
    height: 252px;
    width: 475px;
}

.card-slide-component .card-item>img {
    width: 393px;
    height: 196px;
}

@media (max-width: 1024px) {
    .card-slide-component .card-slide-stripe {
        flex-direction: column;
        transform: translate(-0.1%, 31.3%);
    }

    .card-slide-component .card-item {
        width: unset;
    }

    .card-slide-component .card-item>img {
        width: 80%;
        height: unset;
    }
}

@media (max-width: 501px) {
    .card-slide-component .card-slide-stripe {
        flex-direction: row;
        transform: translate(31.3%, 0%);
    }

    .card-slide-component {
        height: 189px;
    }

    .card-slide-component .card-item {
        height: 252px;
        width: 238px;
    }

    .card-slide-component .card-item>img {
        width: unset;
        height: 98px;
    }
}