.card-slide-component .card-slide-stripe {
    transform: translateX(31.25%);
}

.card-slide-component .card-item {
    height: 252px;
    width: 475px;
}

.card-slide-component .card-item>img {
    width: 393px;
    height: 196px;
}

@media (max-width: 1024px) {
    .card-slide-component .card-slide-stripe {
        flex-direction: column;
        transform: translate(0.2%, 6.9%);
    }

    .card-slide-component {
        height: 51vw;
    }

    .card-slide-component .card-item {
        width: 54.5vw;
        height: 24.7vw;
    }

    .card-slide-component .card-item>img {
        width: unset;
        height: 19vw;
    }
}

@media (max-width: 501px) {
    .card-slide-component .card-slide-stripe {
        flex-direction: row;
        transform: translateX(31.2%);
    }

    .card-slide-component {
        height: 51vw;
    }

    .card-slide-component .card-item {
        width: 63.5vw;
        height: 51vw;
    }

    .card-slide-component .card-item>img {
        width: unset;
        height: 26vw;
    }
}